BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE      COMP "CLK"    SITE "P6";
IOBUF       PORT "CLK"    IO_TYPE=LVCMOS33;
FREQUENCY   PORT "CLK"    25 MHZ;

LOCATE COMP "DAC_CLK" SITE "J13";
IOBUF PORT "DAC_CLK" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "DAC_LRC" SITE "K13";
IOBUF PORT "DAC_LRC" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "DATAOUT" SITE "F13";
IOBUF PORT "DATAOUT" DRIVE=4 IO_TYPE=LVCMOS33;